.semi-circle {
    width: 800px;
    height: 40px;
    background-color: #c2c2c2;
    border-radius: 1000px 1000px 1000px 1000px;
    margin-top: 50px;
}

img {
    width: 120px;
    height: 120px;
    margin-top: 20px;
}

.rect {
    width: 250px;
    height: 300px;
    background-color: #c2c2c2;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 15px;
}

.h-flex {
    margin-top: 10px;
}

.hr {
    width: 5px;
     
}

#Shopping-cart {
    Height: 110px;
    width: 110px;
}

#Account {
    height: 85px;
    width: 85px;
}

#rect-other {
    width: 250px;
    height: 300px;
    background-color: #c2c2c2;
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 15px;
}

#microwave {
    width: 220px;
    height: 180px;
    border-radius: 20px;
    margin-right: 15px;
    margin-left: 15px;
}
